
*{
    box-sizing: border-box;
}

body {
    background: orange;
    background: linear-gradient(to left, #800080, #ffc600);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
}

.container-poke{
    display: flex;
    flex-wrap: wrap;
    align-items: space-between;
    justify-content: center;
    margin: 0 auto;
    max-width: 700px;
}

.pokemon {
    background-color: aliceblue;
    border-radius: 30px;
    margin: 10px;
    padding: 50px;
    text-align: center;
}

.number{
    font-size: 15px;
}